<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Hospital</display-name>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.hos.servlet.Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Hosinfo</servlet-name>
    <servlet-class>com.hos.servlet.Hosinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Hosinfo</servlet-name>
    <url-pattern>/Hosinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Doctorinfo</servlet-name>
    <servlet-class>com.hos.servlet.Doctorinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Doctorinfo</servlet-name>
    <url-pattern>/Doctorinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reserveinfo</servlet-name>
    <servlet-class>com.hos.servlet.Reserveinfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserveinfo</servlet-name>
    <url-pattern>/Reserveinfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reserveinsert</servlet-name>
    <servlet-class>com.hos.servlet.Reserveinsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserveinsert</servlet-name>
    <url-pattern>/Reserveinsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Reserveshow</servlet-name>
    <servlet-class>com.hos.servlet.Reserveshow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reserveshow</servlet-name>
    <url-pattern>/Reserveshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Prescribe</servlet-name>
    <servlet-class>com.hos.servlet.Prescribe</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Prescribe</servlet-name>
    <url-pattern>/Prescribe</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Exitlogin</servlet-name>
    <servlet-class>com.hos.servlet.Exitlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Exitlogin</servlet-name>
    <url-pattern>/Exitlogin</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>